.banner {
    background-image: url('https://t4.ftcdn.net/jpg/03/08/44/53/360_F_308445331_ZZinysRse5xOZacNTnoQqG24TAy7ftZ5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}